<div ng-if="product.expanded" class="row">

    <div class="row description">
        <div class="col-sm-8">
            <p>{{product.description}}</p>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary">Buy Now</button> ${{product.price}}
        </div>

    </div>

    <div class="col-sm-12">
        <ng-include src="'views/product-specs.html'"></ng-include>
    </div>

    <div class="col-sm-12">
        <ng-include src="'views/product-reviews.html'"></ng-include>
    </div>
</div>
